@using FidelityPension.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="~/Areas/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Areas/Content/animate.css" rel="stylesheet">
    <link href="~/Areas/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"></h1>

            </div>
            <h3>Welcome to Fidelity Pension Managers</h3>
            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" action="#">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Pages")">Create an account</a>
            </form>
            <p class="m-t"> <small>Fidelity Pension Managers &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

</body>

</html>










@*<div class="row" style="background-image: url(../Content/Template/assets/img/background/slay1.png);">
    <div>
        <section id="loginForm" class="col-md-offset-3 col-md-6" style="margin-top: 70px; margin-bottom: 230px;">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Username</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Employer Login with Employer Code, while Employee Login with Pin." })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="LOG IN" class="btn btn-success btn-lg" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>

            }
        </section>
    </div>

</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}